<div class="banner" style="background-image: url(assets/bar.jpg);">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <h2><strong>Create your Cocktail</strong></h2>
    <br>
    <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<h1 class="text-center">My Cocktails</h1>
<div class="cocktails">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
       url('<%= cl_image_path cocktail.photo.path, height: 200, width: 300, crop: :fill %>');">
       <div class="card-category">
         <h3><strong><%= link_to cocktail.name, cocktail_path(cocktail), class: "links" %></strong></h3>
       </div>
        <div class="card-description">
          <% cocktail.doses.each do |dose| %>
          <h4><%= dose.description %> <%= dose.ingredient.name %></h4>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
