<h1>THE COCKTAIL</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 ">
      <h1><%= @cocktail.name %></h1>
    </div>

    <div class="col-xs-12 col-sm-12">
      <h3>Doses:</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %>: <%= dose.ingredient %>
            ----
            <%= link_to 'X', dose_path(dose), method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit %>
      <% end %>
    </div>
    <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
