<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1>The <%= @cocktail.name %></h1>
    </div>

    <div class="col-xs-12 col-sm-12 text-center">
      <h3>Doses</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> <%= dose.ingredient.name %>
            <%= awesome_link('fa fa-trash', dose_path(dose), method: :delete) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit %>
      <% end %>
      <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
    </div>
    </div>
  </div>
</div>
